<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="-1"> -->

        <title>All World Trade - Home</title>

        <!-- <link href="uploads/placeholder/logo-placeholder2.jpg" rel="icon" type="image/png" /> -->
        <link rel="icon" type="image/png" sizes="32x32" href="uploads/favicon_io/favicon.ico" />

        <meta name="description" content="All World Trade - Home" />
    </head>
</html>

<body>
    <!-- <form action="/test/two-file-and-text-input-multer-sharp-sequelize" method="post" enctype="multipart/form-data"> -->
    <form action="javascript:void(0);" method="POST" id="traderRegistrationForm" name="traderRegistrationForm" enctype="multipart/form-data" accept-charset="utf-8">
        <div>
          <label for="file1">File 1:</label>
          <input type="file" id="file1" name="file1">
        </div>
        <div>
          <label for="file2">File 2:</label>
          <input type="file" id="file2" name="file2">
        </div>
        <div>
          <label for="text1">Text 1:</label>
          <input type="text" id="text1" name="text1">
        </div>
        <div>
          <label for="text2">Text 2:</label>
          <input type="text" id="text2" name="text2">
        </div>
        <button type="submit">Submit</button>
      </form>
    

      <script  src="<%= process.env.AWT_HOSTNAME %>assets/js/global.js"></script>
      <script src="<%= process.env.AWT_HOSTNAME %>/assets/js/test/two-file-and-text-input-multer-sharp-sequelize.js"></script>
</body>
</html>